<div ng-controller="usersCtrl">

  <br>

  <input ng-model="search.name" placeholder="name">
  <input ng-model="search.gender" placeholder="gender">
  <input ng-model="search.hair_color" placeholder="hair_color">
  <input ng-model="search.height" placeholder="height">
  <input ng-model="search.weight" placeholder="weight">

  <br>
  <br>

  <table>
    <tr ng-repeat="user in allUsers | filter:{name: search.name, gender: search.gender, hair_color: search.hair_color, height: search.height, weight: search.weight}" >
        <td>{{user.name}}</td>
        <td>{{user.career}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.hair_color}}</td>
        <td>{{user.height}}</td>
        <td>{{user.weight}}</td>
        <td><a href="#" class="button small">Default Button</a></td>
    </tr>
  </table>

</div>
