<!-- the "/" route -->
<div class="row">
  <div class="small-12 large-12 columns">

    <div ng-controller="loginCtrl">
      <button ng-click="logout()" class="logout-button">Logout</button>
    </div>

    <!--<br>
        <div>Movies near <input ng-model="search.location" placeholder="zip code"> </div>
        <br> -->
    </div>

  <div class= "small-12 small-centered columns">
    <button ng-click="createProject()"class="startmovie-button">Start a Movie</button>
  </div>

  <div class="small-12 large-12 columns">

    <div ng-repeat="project in projects | filter:{location: search.location}">

      <div class="panel">
        <a href="/#/projects/{{project.id}}"><p>{{project.name}}</p></a>
      </div>

    </div>
  </div>
</div>
