<!-- the "/" route -->
<div class="row">
  <div class="small-12 large-12 columns">

<!--<br>
    <div>Movies near <input ng-model="search.location" placeholder="zip code"> </div>
    <br> -->

    <button ng-click="createProject()"class="btn btn-primary">Start a Movie</button>

    <div ng-repeat="project in projects | filter:{location: search.location}">

      <div class="panel">
        <a href="/#/projects/{{project.id}}"><p> {{project.name}}</p></a>
      </div>

    </div>
  </div>
</div>
