
<div class="panel" id="character_panel">

      <div class="row">

          <h3 class="char_name">actors available to play {{character.name}}</h3>

          {{character.description}} || {{character.age}} || {{character.gender}} || {character.ethnicity}}

      </div>

</div>



<div class="row" data-equalizer>
  <div ng-repeat="sug in character.suggestions">

    <a href="#/users/{{sug.id}}?p={{projectId}}&c={{characterId}}">
      <div id="actor_card" class="small-12 large-4 columns panel" data-equalizer-watch>
        <img class="actor_pic" src="http://i.huffpost.com/gen/920563/thumbs/o-BEST-ACTOR-GOLDEN-GLOBES-facebook.jpg">

          <div class="actor_card_stats">
            <div class="row">
              <center><h3>{{sug.name}}</h3></center>
            </div>
          </div>
      </div>
    </a>

  </div>

</div>
