<div class="panel" id="character_panel">

      <div class="row">

          <h3 class="char_name">actors who could play {{character.name}}</h3>

          <p class="char_data">{{character.description}}</p>

          <p class="char_data">{{character.age}} years old </p>

          <p class="char_data">{{character.gender}}</p>

      </div>

</div>





<div class="row" data-equalizer>
  <div ng-repeat="sug in character.suggestions">



          <a href="#/users/{{user.id}}">
            <div id="actor_card" class="large-4 columns panel" data-equalizer-watch>
              <img class="actor_pic" src="http://i.huffpost.com/gen/920563/thumbs/o-BEST-ACTOR-GOLDEN-GLOBES-facebook.jpg">

                <div class="actor_card_stats">
                  <div class="row">
                    <center><h3>{{sug.name}}</h3></center>
                  </div>
                </div>
            </div>
          </a>







  </div>

</div>
