<div class="row register-row">
  <div class = "small-10 medium-6 small-centered columns">
    <fieldset>
      <!-- <legend class="page-heading">register</legend> -->
      <ul class='sign-up'>

        <li class='big-input'>
          <input type="text" ng-model="user.name" placeholder="Name" />
        </li>

        <li class='big-input'>
          <input type="text" ng-model="user.age" placeholder="Birth Day" />
        </li>

        <li class='big-input'>
          <label>
            <input type="radio" name="sex" value="male" ng-model="user.gender">
            Male
          </label>
          <label>
            <input type="radio" name="sex" value="female" ng-model="user.gender">
            Female
          </label>
        </li>

        <li class='big-input'>
          <input type="text" ng-model="user.ethnicity" placeholder="Ethnicity" />
        </li>

        <li class='big-input'>
          <input type="text" ng-model="user.location" placeholder="Location" />
        </li>

      </ul>
      <div class ="small-12 columns button-columns">
        <button ng-click="updateUser()" class="btn btn-primary sign-up-button left-button">Get Cast!</button>
      </div>
    </fieldset>
  </div>
</div>
