<div class="row register-row">
  <div class = "small-10 medium-6 small-centered columns">
    <fieldset>
      <!-- <legend class="page-heading">register</legend> -->
      <ul class='sign-up'>

        <li class='big-input'>
          <input type="text" ng-model="update_actor.email" placeholder="Name" />
        </li>

        <li class='big-input'>
          <input type="text" ng-model="update_actor.age" placeholder="Age" />
        </li>

        <li class='big-input'>
          <input type="text" ng-model="update_actor.gender" placeholder="Gender" />
        </li>

        <li class='big-input'>
          <input type="text" ng-model="update_actor.ethnicity" placeholder="Ethnicity" />
        </li>

        <li class='big-input'>
          <input type="text" ng-model="update_actor.location" placeholder="Location" />
        </li>

      </ul>
      <div class ="small-12 columns button-columns">
        <button ng-click="update_actor()" class="btn btn-primary sign-up-button left-button">Get Cast!</button>
      </div>
    </fieldset>
  </div>
</div>
