  <div class="row">
    <div class="small-3 large-3 columns">

        <div ng-controller="projectsCtrl">
          <form ng-submit="updateProject()"  ng-init="project={}">
            <input id="project_field_title" type="text" ng-model="project.name" placeholder="name">
            <input id="project_field_data" type="text" ng-model="project.location" placeholder="location">
            <input id="project_field_data" type="text" ng-model="project.description" placeholder="description">
          </form>
        </div>

    </div>

    <div class="small-9 large-9 columns">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>








    <div ng-controller="charactersCtrl">
            <div ng-repeat="character in characters">

              <div class="panel" id="character_panel">

                  <div class="row">
                    <div class="small-3 columns">
                      <div class="num_of_suggestions"></div>
                    </div>
                    <div class="small-3 columns">
                      <h3>{{character.name}}</h3>
                      <h3>{{character.description}}</h3>
                    </div>
                    <div class="small-3 columns">
                      <p>{{character.age}} years old </p>
                    </div>
                    <div class="small-3 columns">
                      <p>{{character.gender}}</p>
                    </div>
                  </div>
                </div>
            </div>



      <div class="panel" id="character_panel">

          Add a Character



          </div>

          <br>
          <br>
        <form ng-submit="saveCharacter()" ng-init="character={}">
          <div class="small-12 large-12 columns">

          </div>
          <input type="text" ng-model="character.name" placeholder="name">
          <input type="text" ng-model="character.age" placeholder="age">
          <input type="text" ng-model="character.gender" placeholder="gender">
          <input type="text" ng-model="character.description" placeholder="description">
          <button class="btn btn-primary">--></button>
        </form>
      </div>



    </div>

  </div>
</div>


  </div>
</div>
