

    <div ng-controller="usersCtrl">
        <center><h1>{{user.name}}</h1></center>

        NAME

        CAREER(S)

        PHOTO

        DETAILS / STATS

        CONTACT

        LINKS TO MY MOVIES

        LINKS TO MOVIES I APPLIED TO

<br>



<a href="#" class="button split">Invite to audition for (role you navigated via) <span data-dropdown="drop"></span></a><br>
<ul id="drop" class="f-dropdown" data-dropdown-content>
  <li><a href="#">(other role in your movie)</a></li>
  <li><a href="#">(other role in your movie)</a></li>
  <li><a href="#">(other role in your movie)</a></li>
</ul>






    </div>
