<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<div>This is the Project Index:</div>
<div ng-repeat="project in allProjects">
  {{project}}
</div>

<div>
<label>Name:</label>
<input type="text" ng-model="yourName" placeholder="Enter a name here">
<hr>
<h1>Hello {{yourName}}!</h1>
</div>
