<div class="digital-agent">
    <div class="row">
      <div class="small-10 medium-6 small-centered small-centered-text columns">
        <!-- <div class="page-heading"> Register for a </div> -->
        <div class="digital-agent-text">Producer Login</div>
      </div>
    </div>

<div class="row register-row">
  <div class = "small-10 medium-6 small-centered columns">
    <fieldset>
      <div class="login" ng-click="registerPage()">not a user?</div>
      <div ng-show="login_error.message" class="error">
        <p>{{login_error.message}}</p>
      </div>
      <ul class='sign-up'>
        <div ng-class="{error: login_error.errors.email}">
          <li class='big-input'>
            <input type="text" ng-model="login_user.email" placeholder="Email" />
            <div ng-show="login_error.errors.email">
              <div ng-repeat="field_error in login_error.errors.email">{{field_error}}</div>
            </div>
          </li>
        </div>

        <div ng-class="{error: login_error.errors.password}">
          <li class='big-input'>
            <input type="password" ng-model="login_user.password" placeholder="Password" />
          </li>
          <div ng-show="login_error.errors.password">
            <div ng-repeat="field_error in login_error.errors.password">{{field_error}}</div>
          </div>
        </div>

      </ul>
      <div>
        <div class ="small-6 columns button-columns">
          <button ng-click="login()" class="btn btn-primary sign-up-button left-button">Login</button>
        </div>
        <div class ="small-6 columns button-columns">
            <button ng-click="password_reset()" class="btn btn-primary sign-up-button" >Reset Password</button>
        </div>
        <button ng-click="logout()" class="btn btn-primary" >Logout</button>

      </div>

    </fieldset>
  </div>
</div>

</div>
