
// .ng-scope {
//   height: 100%;
// }

body, html {
  font-weight: 300;
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
 }

 ul{
   list-style-type: none;
 }


// .alert-box.success {
//   background-color: rgba(112, 176, 169, 1);
//   border-color: #3a945b;
//   color: white;
//   width: 50%;
//   margin: 0 auto;
//   padding: 5px 5px 5px 5px;
//   height: 36px;
// }
//
// .error  {
//   background-color:  #F44C03;
//   border-color: cc2e06;
//   color: white;
//   width: 50%;
//   margin: 0 auto;
//   padding: 5px 5px 5px 5px;
//   height: 36px;
// }
