#actor_card {
/*  border: 1px solid black;*/
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  max-width: 30%;
}


.actor_card_stats {

  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 130%;
}

.actor_pic {

  width: 100%;
}


#project_field_title {
  text-align: left;
  font-size: 35px;
  height: 60px;
  border: 0px;
  box-shadow: none;
/*  text-decoration:underline;*/

}

#project_field_data {
  text-align: left;
  font-size: 18px;
  height: 30px;
  border: 0px;
  box-shadow: none;
}

#new_char_button {
  background-color: white;
/*  border: 1px solid black;*/
  color: black;
  letter-spacing:10px
}

#char_name {
  text-align: center;
}

.add_character {

/*  background-color: rgba(22, 160, 133,.5);*/
  padding: 10px;
  border: .5px solid black;
}

#character_panel {
  background-color : transparent;

/*  border: 1px solid black;*/
}

#new_char_form {
  border: 1px solid black;
  padding: 15px;
}

.num_of_suggestions {
  width: 150px;
  height: 150px;
  border-radius: 75px 75px 0 75px;
  border: 1px solid black;
  padding-top: 50px;
  padding-left: 50px;
}

.suggest_preview_text {
  margin-top: 30px;
  margin-left: 25px;
}

.char_name {
  margin-top: 30px;
  font-size: 35px;
}

.char_data{
  font-size: 18px;
}

.top-bar {
  height: 175px;
  background-color: white;
}
