<!DOCTYPE html>
<html ng-app="ArtSlotApp">
<head>
  <title>CastingSlotMachine</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div ng-controller="ProjectsCtrl">
    <div ng-repeat="project in allProjects">
      {{project}}
    </div>
  </div>
  <%= yield %>

</body>
</html>
